@charset "UTF-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
body{
	margin: auto;
	height: 100%;
	background-image: url(../img/homeBG.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#project-line-wrapper {
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
}
#project-line-wrapper .line{
    background-color: #1a1a1a;
    opacity: 0;
    position: absolute;
    display: block;
}
#project-line-wrapper .line.top {
    width: 100%;
    height: 1px;
    top: 27.777%;
}
#project-line-wrapper .line.bottom {
    width: 100%;
    height: 1px;
    bottom: 27.777%;
}
#project-line-wrapper .line.left {
    height: 100%;
    width: 1px;
    left: 17.361%;
}
#project-line-wrapper .line.right {
    height: 100%;
    width: 1px;
    right: 17.361%;
}
#container{
	width: 100%;
	height: 20%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	position: absolute;
	font-family: montaga;
	font-style: normal;
	font-weight: 400;
}
.name{
	line-height: 75px;
	background: #000000;
	color: #FFFFFF;
	z-index: 100;
	text-align: center;
	font-family: ovo;
	font-style: normal;
	font-weight: 400;
	font-size: 70px;
	padding: 0 5px;
	display: block;
	text-shadow: 0px 0px 2px;
	letter-spacing: 3px;
	word-spacing: 6px;
	animation: change 8s infinite;
}
@keyframes change{
	50%{
		text-shadow: 0px 0px 10px;
	}
	100%{
		text-shadow: 0px 0px 2px;
	}
}

#nav-container {
  position: fixed;
  height: 100%;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s, visibility 0s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: 0.8;
}
.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 80px;
  width: 45px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 30px;
  touch-action:manipulation;
}
.icon-bar {
  display: block;
  width: 100%;
  height: 1px;
  background: #aaa;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 10px;
}
#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,11px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-11px,0) rotate(-45deg);
}
#nav-content {
	width: 100%;
	top: 0;
	bottom: 0;
	left: 0%;
	right: 0;
	margin: auto;
	max-width: 300px;
	position: absolute;
	height: 40%;
	pointer-events: auto;
	opacity: 1;
	list-style: none;	
	display: none;
}
#nav-content li a {
	padding: 10px 0;
	display: block;
	transition: color .1s;
	font-family: cardo;
	font-style: normal;
	font-weight: 400;
	font-size: 35px;
	text-align: center;
	text-decoration: none;
	color: #D3D3D3;
	line-height: 60px;
}
#nav-content li a:hover {
    color: #FFFFFF;
	font-size: 37px;
}
#nav-container:focus-within #nav-content {
    transform: none;
	opacity: 1;
	display: block;
}

#language{
	float: right;
	margin-top: 32px;
	margin-right: 32px;
}
#language a{
	font-family: cardo;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	font-weight: lighter;
	padding-left: 3px;
	padding-right: 3px;
	line-height: 25px;
	border: solid 1px #fff;
}
#language a:hover{
	background: #fff;
	color:#000000;
}
@font-face{
	font-family:ovo;
	src:url(../font/Ovo.ttf);
}
@font-face{
	font-family:cardo;
	src:url(../font/Cardo-Regular.ttf);
}